<header class="w-full h-12 bg-violet-950 text-violet-50" data-controller="nav-bar">
	<nav class="flex flex-row justify-between items-center h-full">
		<!--		Logo-Company Name-->
		<%= link_to root_path, class:" w-auto md:w-1/4" do %>
			<span> Logo</span>
			<span> Chipping At Rails</span>
		<% end %>

		<!--		Menu Button-->
		<%= button_tag type: "button", class: "px-6 visible md:hidden", data: {action: "nav-bar#toggle"} do %>

			<svg class="fill-violet-50" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-nav-bar-target="hamburger">
				<path d="M4 18H20C20.55 18 21 17.55 21 17C21 16.45 20.55 16 20 16H4C3.45 16 3 16.45 3 17C3 17.55 3.45 18 4 18ZM4 13H20C20.55 13 21 12.55 21 12C21 11.45 20.55 11 20 11H4C3.45 11 3 11.45 3 12C3 12.55 3.45 13 4 13ZM3 7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7C21 6.45 20.55 6 20 6H4C3.45 6 3 6.45 3 7Z"  />
			</svg>
			<svg class="fill-violet-50" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-nav-bar-target="cross">
				<path d="M18.3002 5.70973C17.9102 5.31973 17.2802 5.31973 16.8902 5.70973L12.0002 10.5897L7.11022 5.69973C6.72022 5.30973 6.09021 5.30973 5.70021 5.69973C5.31021 6.08973 5.31021 6.71973 5.70021 7.10973L10.5902 11.9997L5.70021 16.8897C5.31021 17.2797 5.31021 17.9097 5.70021 18.2997C6.09021 18.6897 6.72022 18.6897 7.11022 18.2997L12.0002 13.4097L16.8902 18.2997C17.2802 18.6897 17.9102 18.6897 18.3002 18.2997C18.6902 17.9097 18.6902 17.2797 18.3002 16.8897L13.4102 11.9997L18.3002 7.10973C18.6802 6.72973 18.6802 6.08973 18.3002 5.70973Z"/>
			</svg>
		<% end %>
		<!--		Menu list-->
		<ul class="absolute top-12 left-0 bg-violet-800 w-full text-right px-6 h-0 overflow-hidden transition-all duration-300 md:relative md:top-auto md:left-auto md:h-auto md:bg-transparent" data-nav-bar-target = "menu">
			<li class="my-3 mr-0 text-violet-600 md:my-0 md:inline-block md:px-12"><%= link_to_unless_current("Projects", { controller: "static_pages", action: "projects" }, class: "text-violet-50") %></li>
			<li class="my-3 mr-0 text-violet-600 md:my-0 md:inline-block md:px-12"><%= link_to_unless_current("Contact", { controller: "static_pages", action: "contact" }, class: "text-violet-50") %></li>
		</ul>
	</nav>
</header>